[submodule "tree-sitter"]
	path = tree-sitter
	url = https://gitee.com/bugtree/tree-sitter-origin.git
[submodule "tree-sitter-swift"]
	path = tree-sitter-swift
	url = https://gitee.com/bugtree/tree-sitter-swift.git
	branch = swiftpm
[submodule "tree-sitter-objc"]
	path = tree-sitter-objc
	url = https://gitee.com/bugtree/tree-sitter-objc.git
	branch = spm
